{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Add administrator" %}
{% set view = "admins"%}

{% block sideNav %}

    <nav class="dfe-vertical-nav">
        <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if view === 'admins' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/admin/administrators">Administrators</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'assessors' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/admin/assessors">Assessors</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'surveys' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/admin/surveys">Surveys</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'analysis' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/admin/analysis">Analysis</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'settings' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/admin/settings">Service settings</a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block content %}

    {% if errors %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">

                        {% for field, errorMessage in errors %}
                            <li>
                                <a href="#{{ field }}">{{ errorMessage }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <h1 class="govuk-heading-xl">Administrator details</h1>

    <p>We'll send them a link to confirm their email address and create a password if they aren't already a registered user.</p>

    <form action="/admin/administrators/add" method="post">

        <div class="govuk-form-group{% if errors.firstName %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="firstName">First name</label>
            {% if errors.firstName %}
                <p id="event-name-error" class="govuk-error-message">
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error: </span>{{ errors.firstName }}</span>
                </p>
            {% endif %}
            <input class="govuk-input govuk-!-width-one-half" id="firstName" name="firstName" type="text" value="{{data['firstName']}}">
        </div>

        <div class="govuk-form-group{% if errors.lastName %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="lastName">Last name</label>
            {% if errors.lastName %}
                <p id="event-name-error" class="govuk-error-message">
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error: </span>{{ errors.lastName }}</span>
                </p>
            {% endif %}
            <input class="govuk-input govuk-!-width-one-half" id="lastName" name="lastName" type="text" value="{{data['lastName']}}">
        </div>

        <div class="govuk-form-group{% if errors.adminemail %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="adminemail">Email address</label>
            {% if errors.adminemail %}
                <p id="event-name-error" class="govuk-error-message">
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error: </span>{{ errors.adminemail }}</span>
                </p>
            {% endif %}
            <input class="govuk-input govuk-!-width-one-half" id="adminemail" name="adminemail" type="text" value="{{data['adminemail']}}">
        </div>




        <button class="govuk-button" data-module="govuk-button">
  Add administrator
</button>

    </form>

{% endblock %}