{% extends "layouts/public.html" %}

{% set selectedNav = "Roadmap" %}
{% set pageName = "Book an assessment or peer review" %}
{% set pageDescription = "" %}
{% set show_breadcrumbs = true %}

{% block breadcrumbs %}
    <a href="/roadmap" class="govuk-back-link">Back to roadmap</a>
    {% endblock%}

    {% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">{{pageName}}</h1>
                <p class="govuk-body">{{pageDescription}}</p>
            </div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">Purpose</h2>
                <p class="govuk-body">The book process allows users to submit a request to book a peer review of service assessment.</p>

                <h2 class="govuk-heading-l">Features and needs</h2>

                <p>The user journey and user needs met by this feature:</p>

             

            </div>
            <div class="govuk-grid-column-one-third">

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Priority</dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--red">High</strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Testing</strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Delivery</dt>
                        <dd class="govuk-summary-list__value">Milestone 1<br/>January 2024</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">GitHub</dt>
                        <dd class="govuk-summary-list__value">
                            <a href="https://github.com/DFE-Digital/book-manage-assure-services/issues/1" class="govuk-link" target="_blank">Issue #1</a>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Resources</h2>
                <p class="govuk-body">Resources and artefacts to support this feature.</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="">View user journey map</a>
                    </li>
                    <li>
                        <a href="">View service blueprint</a>
                    </li>
                </ul>

            </div>
        </div>
    {% endblock %}