<nav class="app-sub-navigation" aria-label="Application menu">

    <ul class="app-sub-navigation__list">
        {# <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report/{{entry.fields.ID}}">Overview</a>
        </li> #}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-sections/{{entry.fields.ID}}">Report sections</a>
        </li>
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-actions/{{entry.fields.ID}}">Action plan</a>
        </li>
        {% if isLeadAssessor == true %}
            <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" href="/assess/entry/report-outcome/{{entry.fields.ID}}">Rating</a>
            </li>
            {%endif%}
            <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"href="/assess/entry/report-preview/{{entry.fields.ID}}">Preview report</a>
            </li>
            {% if isLeadAssessor == true %}
                <li class="app-sub-navigation__item">
                    <a class="app-sub-navigation__link" aria-current="page"  href="/assess/entry/report-submit/{{entry.fields.ID}}">Submit report</a>
                </li>
                {%endif%}

            </ul>

        </nav>

        <h2 class="govuk-heading-l">Submit report</h2>

        <form action="/assess/entry/submit-report/{{entry.fields.ID}}" method="post">

            {% set submittable = true %}
            {% set redCount = 0 %}
            {% set amberCount = 0 %}
            {% set greenCount = 0 %}

            {% for outcome in outcome %}
                {% if outcome.fields.RAG == 'Red' %}
                    {% set redCount = redCount + 1 %}
                {% elif outcome.fields.RAG == 'Amber' %}
                    {% set amberCount = amberCount + 1 %}
                {% elif outcome.fields.RAG == 'Green' %}
                    {% set greenCount = greenCount + 1 %}
                {% endif %}
            {% endfor %}

            {% set actionsCount = actions | length %}
            {% set overallRating = entry.fields.Outcome %}




            {% if (overallRating == "Red" or overallRatingg == "Amber") %}
                {% if actionsCount == 0 %}
                    <p>Can't submit as no actions have been recorded.</p>
                    {% set submittable = false %}
                {% elif greenCount == 14 %}
                    <p>Can't submit as you have no standards rated red or amber and no actions have been recorded.</p>
                    {% set submittable = false %}
                {% endif %}
            {% elif overallRating == "Green" %}
                {% if greenCount < 14 %}
                    <p>Can't submit as you have an overall green rating but have red or amber standards.</p>
                    {% set submittable = false %}
                {% elif actionsCount > 0 %}
                    <p>Can't submit as you have added actions but all standards are green, and overall rating is green.</p>
                    {% set submittable = false %}
                {% endif %}
            {% endif %}

            {% if submittable %}
                <p>You can submit the report.</p>
            {% endif %}

            Submittable: {{submittable}}<br/>
            Red count: {{redCount}}<br/>
            Amber count: {{amberCount}}<br/>
            Green count: {{greenCount}}<br/>
            Actions count {{actionsCount}}<br/>
            Overall {{overallRating}}

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Submit report</button>
            </div>

        </form>