<nav class="app-sub-navigation" aria-label="Application menu">

    <ul class="app-sub-navigation__list">
  <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link"  href="/assess/entry/report/{{entry.fields.ID}}">Overview</a>
        </li>
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-sections/{{entry.fields.ID}}">Report sections</a>
        </li>
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-actions/{{entry.fields.ID}}">Actions</a>
        </li>
         {% if data['assessorType'] === 'lead' %}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" aria-current="page" href="/assess/entry/report-outcome/{{entry.fields.ID}}">Rating</a>
        </li>
        {% endif %}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-preview/{{entry.fields.ID}}">Preview</a>
        </li>
 {% if data['assessorType'] === 'lead' %}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-submit/{{entry.fields.ID}}">Submit report</a>
        </li>
        {% endif %}

    </ul>

</nav>

<h2 class="govuk-heading-l">Rating</h2>

<p>This should be completed by the lead assessor.</p>

<p>If there are any actions from the report, Red and Amber, we could provide some text to indicate the overall outcome should be Red or Amber.</p>

<p>If they select Red or Amber, and no actions, trigger a message to say why are they doing this and should they add actions.</p>


<form method="post" action="/assess/post/outcome/{{entry.fields.ID}}">

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      What is the overall rating for this service assessment?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pointRatingOverall" name="pointRatingOverall" type="radio" value="Red" {% if entry.fields.Outcome === 'Red'%}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="pointRatingOverall">
          Red
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pointRatingOverall-2" name="pointRatingOverall" type="radio" value="Amber" {% if entry.fields.Outcome === 'Amber'%}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="pointRatingOverall-2">
          Amber
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pointRatingOverall-3" name="pointRatingOverall" type="radio" value="Green" {% if entry.fields.Outcome === 'Green'%}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="pointRatingOverall-3">
          Green
        </label>
      </div>
     
    </div>
  </fieldset>
</div>
<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Save
  </button>
</div>
<input type="hidden" name="uid" value="{{entry.id}}">
</form>