<div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left">
    <h1 class="govuk-panel__title">
   The report has been submitted
  </h1>

</div>

<h2 class="govuk-heading-l">Next steps</h2>

<p class="govuk-body">The Service Assessment + team will check over the report and then send it on to the service team.</p>
<p class="govuk-body">If there are any questions from the service team about the report, or any challenges, you'll be contacted by the Service Assessment + team.</p>
<p class="govuk-body">If there are no challenges and the team accepts the report, it will be published within the reports section of this service.</p>