<nav class="app-sub-navigation" aria-label="Application menu">
  <ul class="app-sub-navigation__list">
    <li class="app-sub-navigation__item">
      <a class="app-sub-navigation__link" aria-current="page" href="/assess/entry/{{view}}/{{entry.fields.ID}}">Report sections</a>
    </li>
    <li class="app-sub-navigation__item">
      <a class="app-sub-navigation__link" href="/assess/entry/report-outcome/{{entry.fields.ID}}">Overall rating</a>
    </li>
    <li class="app-sub-navigation__item">
      <a class="app-sub-navigation__link" href="/assess/entry/report-actions/{{entry.fields.ID}}">Actions</a>
    </li>
    <li class="app-sub-navigation__item">
      <a class="app-sub-navigation__link"href="/assess/entry/report-comments/{{entry.fields.ID}}">Panel comments</a>
    </li>
    {% if isLeadAssessor == true  %}
      <li class="app-sub-navigation__item">
        <a class="app-sub-navigation__link" href="/assess/entry/report-submit/{{entry.fields.ID}}">Submit report</a>
      </li>
      {%endif%}
    </ul>
  </nav>


<h2 class="govuk-heading-l">Standards</h2>

<p>The standards this service is assessed against.</p>


          <table class="govuk-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Standard</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Rating</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for standard in standards.standards %}
                {% set itemCount = actions | countByStandard(standard.point) %}
                <tr class="govuk-table__row">
                   <td class="govuk-table__cell">
                    <a class="govuk-link" href="/assess/entry/sspoint{{standard.point}}/{{entry.fields.ID}}" aria-describedby="application-details-2-status">
                      {{standard.point}}. {{standard.title}}</a>
                  </td>
                  <td class="govuk-table__cell">
                 {% if itemCount == 0 %}
      No actions
      {% else%}
                            {{itemCount }} action{% if itemCount !== 1 %}s{%endif%}
                                {% endif%}
                  </td>
                  <td class="govuk-table__cell govuk-table__header--numeric">

                    {% set found = false %}
                    {% for r in outcome %}
                      {% if r.fields.Standard == standard.point and r.rating != "" %}
                        <strong class="govuk-tag govuk-tag--{{ r.fields.RAG | lower}}">
                          {{ r.fields.RAG }}</strong>
    {% set found = true %}
  {% endif %}
{% endfor %}

{% if not found %}
  <strong class="govuk-tag">Not rated</strong>
                    {% endif %}

                  </td>
                </tr>

                {% endfor%}
              </tbody>
            </table>