<nav class="app-sub-navigation" aria-label="Application menu">

    <ul class="app-sub-navigation__list">
  <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report/{{entry.fields.ID}}">Overview</a>
        </li>
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" aria-current="page"  href="/assess/entry/report-sections/{{entry.fields.ID}}">Report sections</a>
        </li>
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-actions/{{entry.fields.ID}}">Actions</a>
        </li>
         {% if data['assessorType'] === 'lead' %}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-outcome/{{entry.fields.ID}}">Rating</a>
        </li>
        {%endif%}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-preview/{{entry.fields.ID}}">Preview</a>
        </li>
 {% if data['assessorType'] === 'lead' %}
        <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/assess/entry/report-submit/{{entry.fields.ID}}">Submit report</a>
        </li>
        {%endif%}

    </ul>

</nav>

<h2 class="govuk-heading-l">Report sections</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Standard</th>
      <th scope="col" class="govuk-table__header">Outcome</th>
      <th scope="col" class="govuk-table__header">Actions</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for standard in standards.standards %}

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/assess/entry/{{standard.partial}}/{{entry.fields.ID}}" class="govuk-link">{{standard.title}}</a></td>
      <td class="govuk-table__cell">{% if standard.point === "5"%}<strong class="govuk-tag govuk-tag--red">Red</strong>{% else%}<strong class="govuk-tag govuk-tag--green">Green</strong>{% endif%}</td>
      <td class="govuk-table__cell">{% if standard.point === "5"%}1{% else%}None{% endif%}</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
    </tr>
    {% endfor %}
  </tbody>
</table>