

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Your tasks</h2>
    </div>
    <div class="govuk-summary-card__content">

        <ul class=" app-task-list app-task-list__items govuk-!-margin-bottom-2" >

            <li class="app-task-list__item">

                {% if entry.fields.ReportStatus === "Start" %}
                    <span class="app-task-list__task-name">
                        <a href="/assess/entry/report/{{entry.fields.ID}}" class="govuk-link govuk-link--no-visited-state" aria-describedby="read-declaration-status">Assessment report</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>
                {% elseif entry.fields.ReportStatus === "Continue" %}
                    <span class="app-task-list__task-name">
                        <a href="/assess/entry/report/{{entry.fields.ID}}" class="govuk-link govuk-link--no-visited-state" aria-describedby="read-declaration-status">Assessment report</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--amber app-task-list__tag" id="read-declaration-status">Continue</strong>
                {% elseif entry.fields.ReportStatus === "Complete" %}
                    <span class="app-task-list__task-name">
                        <a href="/assess/entry/report/{{entry.fields.ID}}" class="govuk-link govuk-link--no-visited-state" aria-describedby="read-declaration-status">Assessment report</a>
                    </span>
                    <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Complete</strong>
                {% endif %}

            </li>
        </ul>

        {% if entry.fields.Status === "Complete" %}
            <p>There are no outstanding tasks. <a href="/assess/entry/report/{{entry.fields.ID}}">View report</a>.</p>
        {% endif %}

        {% if entry.fields.Status === "New" %}

            <p>You don't have any tasks yet.</p>
            <p>Waiting for the service assessment team to accept the request.</p>

        {% endif %}

    </div>
</div>