<h2 class="govuk-heading-l">Overview</h2>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Tasks</h2>
    </div>
    <div class="govuk-summary-card__content">
        {% if entry.fields.Status === "Rejected" or entry.fields.Status === "Cancelled" %}
            <p>No tasks</p>
        {% else %}

            {# What state is the assessment report in? #}

            {% set todo = "false"%}
            {% set started = "false"%}
            {% set reviewing = "false"%}
            {% set complete = "false"%}

            {% if (not entry.fields.Outcome and not entry.fields.ReviewDoneWell and not entry.fields.ReviewImprove) and (entry.fields.SubStatus === "Pre-assessment" or entry.fields.SubStatus === "Assessment" or entry.fields.SubStatus === "Post-assessment")  %}
                {% set todo = "true"%}
            {% endif %}

            {% if (entry.fields.Outcome or entry.fields.ReviewDoneWell or entry.fields.ReviewImprove) and (entry.fields.SubStatus === "Pre-assessment" or entry.fields.SubStatus === "Assessment" or entry.fields.SubStatus === "Post-assessment")  %}
                {% set started = "true"%}
            {% endif %}

            {% if entry.fields.SubStatus === "SAT Review" or entry.fields.SubStatus === "Team Review" or entry.fields.SubStatus === "SAT Publish" %}
                {% set reviewing = "true"%}
            {% endif %}

            {% if entry.fields.SubStatus !== "Published" and entry.fields.Status !== "New" %}
                <ul class=" app-task-list app-task-list__items govuk-!-margin-bottom-2" >

                    <li class="app-task-list__item">
                   
                    
                             {% if data['report-submitted'] === "true" %}
                             <span class="app-task-list__task-name">
                            <a href="/assess/entry/report-submitted-to-team/{{entry.fields.ID}}" class="govuk-link" aria-describedby="read-declaration-status">View assessment report</a>
                        </span>
                            <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="read-declaration-status">Submitted</strong>
                                {% elseif started === "true" %}
                             <span class="app-task-list__task-name">
                            <a href="/assess/entry/report/{{entry.fields.ID}}" class="govuk-link" aria-describedby="read-declaration-status">Continue assessment report</a>
                        </span>
                            <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="read-declaration-status">Started</strong>
                        {% elseif reviewing === "true" %}
                             <span class="app-task-list__task-name">
                            <a href="/assess/entry/report-submitted-to-team/{{entry.fields.ID}}" class="govuk-link" aria-describedby="read-declaration-status">View assessment report</a>
                        </span>
                            <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="read-declaration-status">Submitted</strong>
                        {% elseif complete === "true"%}
                             <span class="app-task-list__task-name">
                            <a href="/assess/report/complete/{{entry.fields.ID}}" class="govuk-link" aria-describedby="read-declaration-status">View assessment report</a>
                        </span>
                            <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="read-declaration-status">Published</strong>
                        {% elseif todo === "true" %}
                             <span class="app-task-list__task-name">
                            <a href="/assess/entry/report/{{entry.fields.ID}}" class="govuk-link" aria-describedby="read-declaration-status">Complete assessment report</a>
                        </span>
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">To do</strong>

                        {% endif %}

                    </li>
                </ul>
            {% endif %}
        {% endif %}

        {% if entry.fields.Status === "Complete" %}
            <p>There are no outstanding tasks. <a href="/assess/entry/report/{{entry.fields.ID}}">View report</a>.</p>
        {% endif %}

        {% if entry.fields.Status === "New" %}

            <p>You don't have any tasks yet.</p>
            <p>Waiting for the service assessment team to accept the request.</p>

        {% endif %}

    </div>
</div>