{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Assess" %}
{% set pageName = "Your dashboard" %}

{% block hero %}
    <div class="govuk-width-container dfe-width-container dfe-white-bg">
        {% include 'partials/_entry-header.html'%}
    </div>

{% endblock %}

{% block sideNav %}

    <nav class="dfe-vertical-nav">
        <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if view === 'overview' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess/entry/overview/{{entry.fields.ID}}">Overview</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'artefacts' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess/entry/artefacts/{{entry.fields.ID}}">Artefacts</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'team' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess/entry/team/{{entry.fields.ID}}">Service team</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view === 'panel' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess/entry/panel/{{entry.fields.ID}}">Assessor panel</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if view.includes('report') or selnav == 'report' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess/entry/report/{{entry.fields.ID}}">Report</a>
            </li>

        </ul>
    </nav>

    {% if view.includes('sspoint')%}
        <nav class="dfe-vertical-nav">

            <h2 class="dfe-vertical-nav--section-header">Report sections</h2>
            <ul class="dfe-vertical-nav__section">

                {% for item in standards.standards %}
                    <li class="dfe-vertical-nav__section-item {% if view === item.partial %}dfe-vertical-nav__section-item--current{% endif %}">
                        <a class="dfe-vertical-nav__link" href="/assess/entry/{{item.partial}}/{{entry.fields.ID}}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

    {% endif %}

{% endblock %}

{% block content %}


    {% if view === "overview" %}
        {% include "./_tasks.html" %}
        {% include "./_description.html" %}
    {% endif %}

    {% if view === "team" %}
        {% include './_team.html'%}
    {% endif %}

    {% if view === "artefacts" %}
        {% include './_artefacts.html'%}
    {% endif %}

    {% if view === "panel" %}
        {% include './_panel.html'%}
    {% endif %}







    {% if view === "report" and entry.fields.Status === "Pending" %}
        {% include './_report-view.html'%}
    {% elseif view === "report" and entry.fields.Status === "Active" %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_report-sections.html'%}
        </div>
    {% endif %}

    {% if view === "report-outcome" %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_report-outcome.html'%}
        </div>
    {% endif %}

    {% if view === "report-comments" %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_report-comments.html'%}
        </div>
    {% endif %}

    {% if view === "report-submitted" %}
        <div class="dfe-plain-panel">
            {% include './_report-submitted.html'%}
        </div>
    {% endif %}

    {% if view === "report-sections" %}
        <div class="dfe-plain-panel">
            {% include './_report-sections.html'%}
        </div>
    {% endif %}

    {% if view === "report-actions" %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_report-actions.html'%}
        </div>
    {% endif %}

    {% if view === "report-submitted-to-team" %}
        <div class="dfe-plain-panel">
            {% include './_report-submitted-to-team.html'%}
        </div>
    {% endif %}

    {% if view === "report-preview" %}
        <div class="dfe-plain-panel">
            {% include './_report-preview.html'%}
        </div>
    {% endif %}

    {% if view === "report-submit" %}
        <div class="dfe-plain-panel">
            {% include './_report-submit.html'%}
        </div>
    {% endif %}

    {% if view === "done-well" %}
        <div class="dfe-plain-panel">
            {% include './_done-well.html'%}
        </div>
    {% endif %}

    {% if view === "improve" %}
        <div class="dfe-plain-panel">
            {% include './_improve.html'%}
        </div>
    {% endif %}

    {% if subView.includes('pwell') %}
        <div class="dfe-plain-panel">
            {% include './_point-pwell.html'%}
        </div>
    {% endif %}

    {% if subView.includes('pimprove') %}
        <div class="dfe-plain-panel">
            {% include './_point-pimprove.html'%}
        </div>
    {% endif %}

    {% if subView.includes('pactions') %}
        <div class="dfe-plain-panel">
            {% include './_point-pactions.html'%}
        </div>
    {% endif %}

    {% if subView.includes('delete-well') %}
        <div class="dfe-plain-panel">
            {% include './_delete-well.html'%}
        </div>
    {% endif %}

    {% if subView.includes('edit-well') %}
        <div class="dfe-plain-panel">
            {% include './_edit-well.html'%}
        </div>
    {% endif %}

    {% if subView.includes('edit-comment') %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_edit-comment.html'%}
        </div>
    {% endif %}

    {% if subView.includes('delete-improve') %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_delete-improve.html'%}
        </div>
    {% endif %}

    {% if subView.includes('delete-comment') %}
        {% include './_report-sections-header.html'%}
        <div class="dfe-plain-panel">
            {% include './_delete-comment.html'%}
        </div>
    {% endif %}

    {% if subView.includes('edit-improve') %}

        <div class="dfe-plain-panel">
            {% include './_edit-improve.html'%}
        </div>
    {% endif %}

    {% if subView.includes('delete-action') %}
        <div class="dfe-plain-panel">
            {% include './_delete-action.html'%}
        </div>
    {% endif %}

    {% if subView.includes('edit-action') %}
        <div class="dfe-plain-panel">
            {% include './_edit-action.html'%}
        </div>
    {% endif %}

    {% if subView.includes('poutcome') %}
        <div class="dfe-plain-panel">
            {% include './_point-poutcome.html'%}
        </div>
    {% endif %}

    {% if view.includes('sspoint')and subView === '' %}
        <div class="dfe-plain-panel">
            {% include './_sspoint.html'%}
        </div>
    {% endif %}

    {% if view === "outcome" %}
        <div class="dfe-plain-panel">
            {% include './_outcome.html'%}
        </div>
    {% endif %}

{% endblock %}