
        <span class="govuk-caption-l">{{entry.fields.Type}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-!-font-size-36 ">{{entry.fields.Title}}</h1>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
             <th scope="col" class="govuk-table__header ">Phase</th>

         
       
            <th scope="col" class="govuk-table__header">Review date</th>
            <th scope="col" class="govuk-table__header">Outcome</th>
            <th scope="col" class="govuk-table__header">Actions</th>
            <th scope="col" class="govuk-table__header">Report</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            
               <td class="govuk-table__cell"> <strong class="govuk-tag">{{entry.fields.Phase}}</strong>
            </td>

       
            <td class="govuk-table__cell">
                        {% if entry.fields.ReviewDate%}{{(entry.fields.ReviewDate + " " + entry.fields.ReviewTime) | date("h:mm A")}} on {{entry.fields.ReviewDate | date('ddd D MMM YYYY')}} 
                {% else %}No date{% endif %}
            </td>
            <td class="govuk-table__cell">
                {% if entry.fields.Status === "Published"  %}
                <strong class="govuk-tag {% if entry.fields.Outcome === 'Red'%}govuk-tag--red{% elseif entry.fields.Outcome === 'Amber'%}govuk-tag--amber{%elseif entry.fields.Outcome === 'Green'%}govuk-tag--green{% endif %}">
                 {{entry.fields.Outcome }}
                  </strong>
                 
                    {% else %}
                             Not available
                    {% endif %}
               
            </td>
             <td class="govuk-table__cell">
              
                  {% if entry.fields.Status === "Published"%}
                 <a href="/asess/entry/report/{{entry.fields.ID}}" class="govuk-link govuk-link--no-visited-state">{{entry.fields.Actions | length}} action{%- if entry.fields.Actions | length !== 1 -%}s{%endif%}</a>
                {% else %}
                Not available
                {% endif %}
               
                </td>
            <td class="govuk-table__cell">
                {% if entry.fields.Status === "Published"%}
                 <a href="/asess/entry/report/{{entry.fields.ID}}" class="govuk-link govuk-link--no-visited-state">View report</a>
                {% else %}
                Not available
                {% endif %}
                </td>
        </tr>
    </tbody>
</table>