{% extends "layouts/question.html" %}


{% set selectedNav = "Book" %}
{% set pageName = "Request submitted" %}

{% block backlink %}{% endblock %}

{% block content %}

    <div class="govuk-panel govuk-!-margin-bottom-5 govuk-panel--confirmation govuk-!-text-align-left">
        <h1 class="govuk-panel__title">Request submitted</h1>
        <div class="govuk-panel__body">
            <p class="govuk-!-margin-bottom-0">We've got your request for a {{request.fields.Phase | lower}} {{request.fields.Type | lower}}</p>

        </div>
    </div>

    <p>We've sent you an email confirming details to you as the requestor, the team's delivery manager and the team's product manager.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p>The service assessment team will email you to confirm your booking and agree a date for your {{request.fields.Type | lower}} within 3 working days.</p>

    <p>You can view the progress of your booking, add members of the team and artefacts by accessing the request from the <a href="/manage/">manage option</a>.</p>

{% endblock %}