{% extends "layouts/question.html" %}

{% set serviceOrDisco = "service" %}

{% if data['phase'] === "Discovery"%}
    {% set serviceOrDisco = "discovery" %}
{% endif %}

{% set phase = request.fields.Phase | lower%}
{% set type = request.fields.Type | lower%}

{% set selectedNav = "Book" %}
{% set pageName = "Request submitted" %}

{% block backlink %}{% endblock %}

{% block content %}

    <div class="govuk-panel govuk-!-margin-bottom-5 govuk-panel--confirmation govuk-!-text-align-left">
        <h1 class="govuk-panel__title">Request submitted</h1>
        <div class="govuk-panel__body">
            <p>We've got your request to book a {{phase}}
                {{type}}.</p>

        </div>
    </div>

    <p>We've sent you an email confirming details to you as the requestor, the team's delivery manager and the team's product manager.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p>The service assessment team will email you to confirm your booking and agree a date for your {{phase}}
        {{type}} within 3 working days.</p>

    <p>You can view the progress of your booking, add members of the team and artefacts by accessing the request from <a href="/manage/">your dashboard</a>.</p>

{% endblock %}