{% extends "layouts/question.html" %}

{% set serviceOrDisco = "service" %}

{% if data['phase'] === "Discovery"%}
{% set serviceOrDisco = "discovery" %}
{% endif %}

{% set selectedNav = "Book" %}
{% set pageName = "Enter your" + data['phase']|lower + " phase start date" %}

{% block backlink %}
    <a href="/book/request/code" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  {% if err or errcode%}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
         <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
               <ul class="govuk-list govuk-error-summary__list">
                  {% if err %}
                  <li>
                     <a href="#disco-start-day">Enter your {{data['phase']|lower}} phase start date</a>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </div>
      </div>
      {% endif %}
      <form action="/book/post/start-date" method="post">
         <div class="govuk-form-group {%if err%}govuk-form-group--error{% endif%}">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="disco-start-hint">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                     When did your {{data['phase']|lower}} start? 
                  </h1>
               </legend>
               {%if err%}
               <p id="event-name-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter your discovery start date
               </p>
               {% endif%}
               <div id="disco-start-hint" class="govuk-hint">
                  For example, 18 6 2023.
               </div>
               <div class="govuk-date-input" id="disco-start">
                  <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="disco-start-day">
                        Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {%if err%} govuk-input--error{% endif%}" id="disco-start-day" name="disco-start-day" type="text" inputmode="numeric" value="{{day}}">
                     </div>
                  </div>
                  <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label " for="disco-start-month">
                        Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2{%if err%} govuk-input--error{% endif%}" id="disco-start-month" name="disco-start-month" type="text" inputmode="numeric"value="{{month}}">
                     </div>
                  </div>
                  <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="disco-start-year">
                        Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 {%if err%} govuk-input--error{% endif%}" id="disco-start-year" name="disco-start-year" type="text" inputmode="numeric" value="{{year}}">
                     </div>
                  </div>
               </div>
            </fieldset>
         </div>
         <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="/book/request/tasks">Skip and return to later</a>
         </div>
      </form>
   
{% endblock %}

{% block sideNav %}

    <aside class="dfe-aside">
        <h2 class="govuk-heading-m">Related guidance</h2>
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <a href="https://apply-service-standard-staging-7f500b6e58fb.herokuapp.com/service-assurance" target="_blank">Service assurance step by step</a>
            </li>
        </ul>
    </aside>

{% endblock %}