{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Assess" %}
{% set pageName = "Services you're assessing" %}
{% set view = "active"%}

 {% block hero %}
 <div class="govuk-width-container dfe-width-container dfe-white-bg">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Assess</span>
        <h1 class="govuk-heading-l">Active assessments</h1>
<p>These are the services that you've been added to an an assessor panel member.</p>
      </div>
    </div>
</div>
 {% endblock %}


{% block sideNav %}

      <nav class="dfe-vertical-nav">
        <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if view === 'active' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess">Active</a>
            </li>
             <li class="dfe-vertical-nav__section-item {% if view === 'completed' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/assess/completed">Completed</a>
            </li>
          
        </ul>
    </nav>

{% endblock %}

{% block content %}




   <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Services</h2>
        </div>
        <div class="govuk-summary-card__content">
            {% if entries | length === 0%}
            <p>You're not assigned to any active assessments.</p>
            <p>How about <a href="/assessments" class="govuk-link">volunteering to assess a service</a>?</p>
            {% else%}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Service</th>
                        <th scope="col" class="govuk-table__header">Phase</th>
                        <th scope="col" class="govuk-table__header">Type</th>
                        <th scope="col" class="govuk-table__header">Date</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                   {% for entry in entries %}

            
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="/assess/entry/overview/{{entry.fields.AssessmentID}}" class="govuk-link govuk-link--no-visited-state">{{entry.fields.AssessmentTitle}}</a>
                        </th>
                        <td class="govuk-table__cell">{{entry.fields.AssessmentPhase}}</td>
                        <td class="govuk-table__cell">{{entry.fields.AssessmentType}}</td>
                        <td class="govuk-table__cell">{% if entry.fields.ReviewDate %}{{entry.fields.ReviewTime}} on {{entry.fields.ReviewDate[0] | date('D MMM YYYY')}}{% else%}No date booked{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

{% endblock %}

