{% extends "layouts/public.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Contact the DfE DesignOps team" %}
{% set pageDescription = "The Private Beta is being run by the Department for Education DesignOps team. Get in touch to find out more." %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{pageName}}</h1>
            <p class="govuk-body">{{pageDescription}}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
        </div>
    </div>

{% endblock %}